// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.card-event {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.container-event {
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 20px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  h2 {
    text-align: center;
  }
}

.container-form {
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 20px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  h2 {
    text-align: center;
  }
}

.card-event img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-event h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.card-event p {
  font-size: 16px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-event .card-event-infos {
  padding: 16px;
}

.container {
  padding-right: 200px;
  padding-left: 200px;
  margin-right: auto;
  margin-left: auto;
}

.upcoming {
  color: red;
}

.past {
  color: grey;
}

.fa {
  margin-right: 5px;
  color: coral;
}

.banner {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/1047442/pexels-photo-1047442.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-size: cover;
  background-position: bottom;
  padding: 150px 0;
  text-align: center;
  margin-bottom: 50px;
  h1 {
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 32px;
    font-weight: bold;
    font-size: 70px;
    font-weight: lighter;
    font-family: "Monaco", sans-serif;
  }
  p {
    margin-top: 5px;
    font-size: 20px;
    color: white;
    opacity: .8;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }
}

form input[type=submit] {
  color: white;
  padding: 10px 24px;
  border-radius: 4px;
  background: coral;
  transition: background 0.3s ease;
  border: none;
}

* {
  box-sizing: border-box;
}


